openapi: 3.0.1
info:
  title: Spinwheel Embedded Debt Solutions Bank Accounts Credit Data API
  description: Spinwheel's embedded credit and debt API. Connect a consumer, pull an Equifax-backed debt profile, refresh real-time liability balances and payoff quotes across credit cards and loans, originate bank-account-funded payments, and subscribe to webhook events. Most resources are scoped to a connected user identified by userId, the unique key used for accessing most Spinwheel APIs. Authentication uses a Spinwheel secret API key issued from the developer portal; the exact header scheme is gated behind the developer login and is not reconciled here - it is modeled as an HTTP bearer secret key.
  termsOfService: https://spinwheel.io/terms
  contact:
    name: Spinwheel Support
    url: https://docs.spinwheel.io
  version: '1.0'
servers:
- url: https://api.spinwheel.io
  description: Production
- url: https://sandbox-api.spinwheel.io
  description: Sandbox
- url: https://secure-api.spinwheel.io
  description: Production (secure)
- url: https://secure-sandbox-api.spinwheel.io
  description: Sandbox (secure)
security:
- bearerAuth: []
tags:
- name: Credit Data
  description: Order and retrieve Equifax-backed debt profiles and credit reports.
paths:
  /v1/users/{userId}/debt-profile:
    post:
      operationId: requestDebtProfile
      tags:
      - Credit Data
      summary: Request a debt profile
      parameters:
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: Debt profile requested.
  /v1/users/{userId}/creditProfile/equifax:
    post:
      operationId: orderEquifaxReport
      tags:
      - Credit Data
      summary: Get a debt profile (Equifax)
      description: Orders an Equifax credit report for a connected user.
      parameters:
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: Equifax debt profile ordered.
components:
  parameters:
    UserId:
      name: userId
      in: path
      required: true
      description: The unique key used for accessing most Spinwheel APIs.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Spinwheel secret API key issued from the developer portal (https://developer.spinwheel.io). The exact transport header is gated behind the developer login and not reconciled here.
