openapi: 3.0.1
info:
  title: Spinwheel Embedded Debt Solutions Bank Accounts API
  description: Spinwheel's embedded credit and debt API. Connect a consumer, pull an Equifax-backed debt profile, refresh real-time liability balances and payoff quotes across credit cards and loans, originate bank-account-funded payments, and subscribe to webhook events. Most resources are scoped to a connected user identified by userId, the unique key used for accessing most Spinwheel APIs. Authentication uses a Spinwheel secret API key issued from the developer portal; the exact header scheme is gated behind the developer login and is not reconciled here - it is modeled as an HTTP bearer secret key.
  termsOfService: https://spinwheel.io/terms
  contact:
    name: Spinwheel Support
    url: https://docs.spinwheel.io
  version: '1.0'
servers:
- url: https://api.spinwheel.io
  description: Production
- url: https://sandbox-api.spinwheel.io
  description: Sandbox
- url: https://secure-api.spinwheel.io
  description: Production (secure)
- url: https://secure-sandbox-api.spinwheel.io
  description: Sandbox (secure)
security:
- bearerAuth: []
tags:
- name: Bank Accounts
  description: Add and manage user bank accounts.
paths:
  /v1/users/{userId}/bank-accounts:
    post:
      operationId: addBankAccount
      tags:
      - Bank Accounts
      summary: Add a bank account
      parameters:
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: Bank account added.
  /v1/users/{userId}/bank-accounts/{accountId}:
    patch:
      operationId: updateBankAccount
      tags:
      - Bank Accounts
      summary: Update a bank account
      parameters:
      - $ref: '#/components/parameters/UserId'
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: Bank account updated.
    delete:
      operationId: deleteBankAccount
      tags:
      - Bank Accounts
      summary: Delete a bank account
      parameters:
      - $ref: '#/components/parameters/UserId'
      - $ref: '#/components/parameters/AccountId'
      responses:
        '204':
          description: Bank account deleted.
components:
  parameters:
    UserId:
      name: userId
      in: path
      required: true
      description: The unique key used for accessing most Spinwheel APIs.
      schema:
        type: string
    AccountId:
      name: accountId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Spinwheel secret API key issued from the developer portal (https://developer.spinwheel.io). The exact transport header is gated behind the developer login and not reconciled here.
