openapi: 3.0.1
info:
  title: Spinwheel Embedded Debt Solutions Bank Accounts Payments API
  description: Spinwheel's embedded credit and debt API. Connect a consumer, pull an Equifax-backed debt profile, refresh real-time liability balances and payoff quotes across credit cards and loans, originate bank-account-funded payments, and subscribe to webhook events. Most resources are scoped to a connected user identified by userId, the unique key used for accessing most Spinwheel APIs. Authentication uses a Spinwheel secret API key issued from the developer portal; the exact header scheme is gated behind the developer login and is not reconciled here - it is modeled as an HTTP bearer secret key.
  termsOfService: https://spinwheel.io/terms
  contact:
    name: Spinwheel Support
    url: https://docs.spinwheel.io
  version: '1.0'
servers:
- url: https://api.spinwheel.io
  description: Production
- url: https://sandbox-api.spinwheel.io
  description: Sandbox
- url: https://secure-api.spinwheel.io
  description: Production (secure)
- url: https://secure-sandbox-api.spinwheel.io
  description: Sandbox (secure)
security:
- bearerAuth: []
tags:
- name: Payments
  description: Manage payment requests, payers, and transactions.
paths:
  /v1/payments/requests:
    post:
      operationId: createPayment
      tags:
      - Payments
      summary: Create a payment
      responses:
        '200':
          description: Payment created.
    get:
      operationId: listPayments
      tags:
      - Payments
      summary: Get a list of payments
      responses:
        '200':
          description: Payments returned.
  /v1/payments/requests/{requestId}:
    get:
      operationId: getPayment
      tags:
      - Payments
      summary: Get single payment details
      parameters:
      - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: Payment returned.
    delete:
      operationId: deletePayment
      tags:
      - Payments
      summary: Delete a payment
      parameters:
      - $ref: '#/components/parameters/RequestId'
      responses:
        '204':
          description: Payment deleted.
  /v1/payments/payers:
    post:
      operationId: createPayer
      tags:
      - Payments
      summary: Create a partner payer
      responses:
        '200':
          description: Payer created.
    get:
      operationId: listPayers
      tags:
      - Payments
      summary: Get a list of payers
      responses:
        '200':
          description: Payers returned.
  /v1/payments/payers/{payerId}:
    get:
      operationId: getPayer
      tags:
      - Payments
      summary: Get single payer details
      parameters:
      - $ref: '#/components/parameters/PayerId'
      responses:
        '200':
          description: Payer returned.
    delete:
      operationId: deletePayer
      tags:
      - Payments
      summary: Delete a payer
      parameters:
      - $ref: '#/components/parameters/PayerId'
      responses:
        '204':
          description: Payer deleted.
components:
  parameters:
    PayerId:
      name: payerId
      in: path
      required: true
      schema:
        type: string
    RequestId:
      name: requestId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Spinwheel secret API key issued from the developer portal (https://developer.spinwheel.io). The exact transport header is gated behind the developer login and not reconciled here.
